@import url('https://fonts.googleapis.com/css?family=Roboto:400,500i,900&display=swap');

.main-container {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
    align-content: stretch;
    font-family: 'Roboto', sans-serif;
}

p {
    text-indent: 1.5em;
    font-size: 2.5vh;
    line-height: 3vh;
}

.main-page-text {
    margin-top: 10vh;
    /*width: 30vw;*/
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-weight: normal;
}

.buttons {
    padding-top: 3vh;
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    width: 30vw;
    margin: 0 auto;
}

.buttons a {
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    text-decoration: none;
    background: #352C46;
    color: white;
    width: 10vw;
    height: 7vh;
    font-size: 2vh;
}

.buttons a:hover {
    background: #6F94A0;
}
