.student-card { 
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.student-card__block {
  display: flex;
  justify-content: center;
}

.student-card_container {
  display: flex;
  justify-content: center;
  height: auto;
}